/* ? font and box sizing */
*{
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

/* ? html */
html{
    width: 100%;
    height: 100vh;
}

/* ? headings styles */
h1{
    margin: 0px 0px 25px 0px;
    color: #404040;
}

h3{
    margin-bottom: 10px;
    color: #b7410e;
}

/* ?body styles and layout by flexbox */
body{
    height: 100vh;
    margin: 0px !important;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* ? main card of the page with flex display */
main{
    margin: auto;
    grid-area: main;
    background: rgba(255,255,255,0.4);
    backdrop-filter: blur(5px);
    height: 400px;
    flex-basis: 600px;
    border: none;
    border-radius: 8px;
    padding: 2%;
    justify-content: center;
    align-content: flex-start;
}

/* ? common class for flex containers */
.base-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* ? left form width */
form{
    flex-basis: 50%;
}

/* ? right box */
.prediction-container{
    flex-basis: 50%;
    padding-left: 10px;
}


/* ? name input styles */
.input-con{
    flex-basis: 100%;
    align-items: center;
    margin-bottom: 40px;
}

.input-con > label{
    flex-basis: 20%;
    font-size: 24px;
    margin-right: 5px;
}

.input-con > input{
    flex-basis: 70% !important;
    background: transparent;
    outline: none;
    border: none;
    border: 1px solid #787878;
    height: 35px;
    border-radius: 2px;
    padding: 10px;
}
/* ? focus input */
.input-con > input:focus{
    border: 1px solid #404040;
    transition: all 0.3s;
}

/*? radio input container */
.radio-con{
    flex-basis: 100%;
    justify-content: start;
    align-content: center;
    margin-bottom: 20px;
}

input:first-of-type("radio"){
    cursor: pointer;
}

/*? general button */
button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    padding: 10px 10px ;
    height: 50px;
    width: 120px;
  }

  /* ? submit button */

  .submit {  
    color: #a972cb;
    transition: 0.25s;
  }

  .submit:hover,.submit:focus{
    border-color: #a972cb;
    color: #fff;
  }

.submit:hover,.submit:focus {
  box-shadow: 
    inset -4em 0 0 0 #a972cb,
    inset 4em 0 0 0 #a972cb;  
}

.submit{
    cursor: pointer;
}

/* ? saved button */
.save{
    cursor: pointer;
}

.save {  
    color: #8fc866;
    transition: 0.25s;
  }

  .save:hover,.save:focus{
    border-color: #8fc866;
    color: #fff;
  }

  .save:hover,
.save:focus {
  box-shadow: 
    inset -4em 0 0 0 #8fc866,
    inset 4em 0 0 0 #8fc866;  
}

/* ? clear button */
.clear{
    cursor: pointer;
}

.clear {  
    color: #DC143C;
    transition: 0.25s;
  }

  .clear:hover,.clear:focus{
    border-color: #DC143C;
    color: #fff;
  }

.clear:hover,
.clear:focus {
  box-shadow: 
    inset -4em 0 0 0 #DC143C,
    inset 4em 0 0 0 #DC143C;  
}

#error{
  color: rgb(194, 41, 41);
}

